body {
  background-color: rgb(48, 34, 48);
  font-family: 'Futura', sans-serif;
  transition: 0.5s all ease-in-out;
}

.total-wrap {
    background-color: rgb(48, 34, 48);
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    color: #455A64;
    font-family: var(--fontFamily);
    font-size: var(--fontSizeMd);
    line-height: var(--lineHeightMd);
}
.wrapper{
  padding: 2%;
  background-color: rgb(0, 0, 0);
  height: 95vh;
  width: 92%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.login-wrapper{
  z-index: 1;
  padding: 2%;
  background-color:rgb(0, 0, 0);
  max-width: 400px;
  height: 95vh;
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.login-wrapper img {
  z-index: 2;
  position: fixed;
  object-fit: cover;
  max-width: 460px;
  width: 92vh;
  max-height: inherit;
  height: 100vh;
  border-radius: 15px;
}

.login-page {
  background-color: rgb(48, 34, 48);
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  color: #455A64;
  font-family: var(--fontFamily);
  font-size: var(--fontSizeMd);
  line-height: var(--lineHeightMd);
}


.username-input {
  display: flex;
  justify-content: center;
  z-index: 4;
  margin-top: 90%;
  padding-top: 40%;
  /* margin-right: 7.5%; */
}


input[type=text] {
  display: flex;
  background-color: #492347;
  color: rgb(184, 160, 184);
  outline: none;
  border: none;
  border-bottom:#492347;
  border-radius: 5px;
  padding: 10px;
  margin: 5%;
}

input[type=password] {
  display: flex;
  background-color: #492347;
  color: rgb(184, 160, 184);
  outline: none;
  border: none;
  border-bottom:#492347;
  border-radius: 5px;
  padding: 10px;
  margin: 5%;
}

.login-buttons {
  display: flex;
}

button {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid #d850d1;
  border-radius: 0.6em;
  color: #d850d1;
  cursor: pointer;
  display: flex;
  flex-direction: row;
	align-self: space-around;
	position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Futura', sans-serif;
  text-justify: center;
  /* font-weight: 700; */
}

button:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

button {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
button:hover {
  box-shadow: 0 0 40px 40px #d850d1 inset;
}

.button-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-photo-modal {
	position: fixed;
	/* Stay in place */
	z-index: 3;
	/* Sit on top */
  top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

.login-button {
  z-index: 4
}

.photo-modal-content {
	cursor: zoom-out;
	object-fit: cover;
	margin: auto;
	display: block;
	width: 90%;
	max-width: 400px;
	animation-name: zoom;
	animation-duration: 0.6s;
	object-fit: cover;
  top: 10px;
	/* Could be more or less, depending on screen size */
}

.card-img img {
  border-radius: 15px;
  bottom: 0px;
}

.card-img-reverse img {
  border-radius: 15px;
  bottom: 0px;
  transform: rotate(180deg);
}

.card-title {
  text-align: center;
  font-size: 24px;
  font-style: italic;
  color:rgb(244, 236, 243);
}

/* .card-summary {
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 0 0 15px 15px;
 } */

.gallery-wrapper {
  position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
  top: 0px;
	height: 100%;
	width: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 10%;
  transition: 0.5s all ease-in-out;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
	from {
		opacity: 0%
	}

	to {
		opacity: 100%
	}
}

.gallery-card {
  display: flex;
  margin: 1%;
  margin-left: 10%;
  transition: 0.5s all ease-in-out;
}
.gallery-card img {
  border-radius: 100%;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}

.gallery-card img:hover {
  cursor: pointer;
	opacity: 80%;
	transform: scale(1.2);
}

.reading-icon {
  font-size: 36px;
  z-index: 12;
  position: fixed;
  color:#cea1cc;
  right: 40px;
  top: 20px;
  transition: 0.5s all ease-in-out;
}
.reading-icon:hover {
  color:#d850d1;
  cursor: pointer;
  transform: scale(1.5);
}

.writing-icon {
  font-size: 36px;
  z-index: 12;
  position: fixed;
  color:#cea1cc;
  right: 40px;
  top: 70px;
  transition: 0.5s all ease-in-out;
}
.writing-icon:hover {
  color:#d850d1;
  cursor: pointer;
  transform: scale(1.5);
}

.waite-icon {
  font-size: 36px;
  z-index: 12;
  position: fixed;
  color:#cea1cc;
  right: 40px;
  top: 120px;
  transition: 0.5s all ease-in-out;
}

.waite-icon:hover {
  color:#d850d1;
  cursor: pointer;
  transform: scale(1.5);
}

.icon-holder {
  z-index: 2;
  background-color: black;
}

.reading-summary-wrapper {
  position: fixed;
	/* Stay in place */
	z-index: 30;
	/* Sit on top */
	height: 70%;
	width: 70%;
	overflow: auto;
  max-width:300px;
  left: 10%;
  top: 10%;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.reading-summary {
  padding: 3%;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-family: 'Futura';
}

.close-icon {
  z-index: 2;
  position: fixed;
  display: flex;
  right: 5%;
  bottom: 0px;
  color: #cea1cc;
  background-color: (0, 0, 0, 0.8);
  font-size: 100px;
  transition: 0.5s all ease-in-out;
}

.close-icon:hover {
  transform: scale(1.2);
  opacity: 80%;
}

.sorter-icons {
  display: flex;
  justify-content: space-evenly;
}

.helpers-holder {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 5%;
}
.help-icon {
  cursor: pointer;
  font-size: 25px;
  /* margin-right: 5%; */
  color: #cea1cc;
  padding-right: 30%;
  transition: 0.5s all ease-in-out;
}

.help-icon:hover {
  transform: scale(1.4);
}

.gear-icon {
  cursor: pointer;
  font-size: 25px;
  /* margin-right: 5%; */
  color: #cea1cc;
  transition: 0.5s all ease-in-out;
}

.gear-icon:hover {
  transform: scale(1.4);
}

.sorter-icon {
  cursor: pointer;
  margin: 4%;
  margin-top: 20%;
  font-size: 50px;
  color: #cea1cc;
  transition: 0.5s all ease-in-out;
}

.sorter-icon:hover {
  transform: scale(1.4);
}

.sorter-icon:active {
  color: #d850d1;
}

.sorter-icon-clicked {
  cursor: pointer;
  margin: 4%;
  margin-top: 20%;
  font-size: 50px;
  color:#d850d1;
  transition: 0.5s all ease-in-out;
}

.sorter-icon-clicked:hover {
  transform: scale(1.4);
}

.sorter-icon-clicked:active {
  color: #cea1cc;
}

.journal-modal-wrapper {
  position: fixed;
	/* Stay in place */
	z-index: 30;
	/* Sit on top */
	height: 70%;
	width: 70%;
	overflow: auto;
  max-width:300px;
  left: 10%;
  top: 10%;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.journal-modal-content {
  padding: 3%;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-family: 'Futura';
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
}
.journal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family:'Gill Sans' !important;
}
.journal-image {
  float: right;
}

.journal-image img {
  object-fit: cover;
}

.archive-modal {
  position: fixed;
	/* Stay in place */
	z-index: 30;
	/* Sit on top */
	height: 70%;
	width: 70%;
	overflow: auto;
  max-width:300px;
  left: 10%;
  top: 10%;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  color:rgb(244, 236, 243);
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.entry {
  background-color:#492347;
  color:#cea1cc;
  max-width: 150px;
  width: 92vh;
  padding: 5%;
  margin: 1%;
  border-radius: 15px;
}

textarea {
  outline: none;
  border-radius: 5px;
  border: none;
  font-family: 'Gill Sans'
}

.entry-card img {
  border-radius: 50%;
  object-fit: cover;
  right: 12%;
  position: absolute;
}

.entry-modal-wrapper {
  position: fixed;
	/* Stay in place */
	z-index: 30;
	/* Sit on top */
	height: 70%;
	width: 70%;
	overflow: auto;
  max-width:300px;
  left: 10%;
  top: 10%;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.entry-modal-content {
  padding: 3%;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-family: 'Futura';
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}
.entry-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family:'Gill Sans' !important;
}
.entry-image {
  float: right;
}

.entry-image img {
  object-fit: cover;
}

.waite-wrapper {
  position: fixed;
	/* Stay in place */
	z-index: 30;
	/* Sit on top */
	height: 70%;
	width: 70%;
	overflow: auto;
  max-width:300px;
  left: 10%;
  top: 10%;
  padding: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation-name: zoom;
  animation-duration: 0.5s;
}

.waite-info {
  padding: 3%;
  color: white;
  text-align: center;
  line-height: 1.4;
  font-family: 'Futura';
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.waite-title {
  text-decoration: underline;
}